table{
            width: 100%;
            height: 700px;
            border-collapse: collapse;
        }
        header{
            width: 100%;
            height: 100px;
                
            background-color: beige;
            display: flex;
            justify-content: space-around;            
        }
        nav{
            color: white;
            font-weight: bold;
            gap: 20px;
    
        }
        button{
            width: 30%;
        }
        ul{
            display: flex;
            gap: 30px;
            list-style: none;
            font-size: 25px;
        }
        main{
            width: 100%;
            height: auto;
        }
        .about{
            width: 100%;
            height: 800px;
            background-color: rgb(67, 96, 151);
        }
        .about-title{
            width: 100%;
            height: 10%;
            color: white;
            text-align: center;
            padding-top: 20px ;
            font-size : 50px;
        }
        p{
            font-weight: bolder;
            padding-left: 60%;
            padding-top: 90px;
            font-size: 30px;
        }
        .skills{
            margin-bottom: 20px;
            padding-left: 37%;
        }
        .skill-bar{
            width: 90%;
            height: 10px;
            background: #444;
            border-radius: 5px;
            margin-top: 5px;
            overflow: hidden;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            
        }
        .fill{
            
            height: 100%;
            background: #ff5733;
            transition: width 0.5s ease-in-out;
       }
       .project{
        width: 100%;
        height: 800px;
        padding: 80px 80px;
        text-align: center;
       background: linear-gradient(to right, #a08585, #14213d);
      
    
       }
      .project-title{
        font-size: 50px;        
      }  
      .project-boxes {
    display: block;
    background: rgb(196, 127, 127);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: #a08585 4px 4px 5px 2px;
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease-in-out, box-shadow 4px 0.3s;
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}
img{
    width: 100%;
    height: 100%;
}

    