
        body{
            margin: 0;
            padding: 0;
            width: 100vw;
            height: auto;
        }

        /* header css start----------------*/
        header{
            width: 100%;
            height: 100px;
            position: fixed;
            background-color: beige;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        ul{
            display: flex;
            gap: 30px;
            list-style: none;
            font-size: 25px;
        }
        /* header css start----------------*/
        main{
            width: 100%;
            height: auto;
        }

        /* header css start----------------*/
        .home{
            width: 100%;
            height: 800px;
            background-color: #FFF0C4;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .home-content{
            width: 50%;
            height: 30%;
            background-color: gray;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .home,h1{
            padding: 0;
            margin: 0;
        }
        /* home section css end----------------*/

        /* about section css start----------------*/
        .about{
            width: 100%;
            height: 800px;
            background-color: cornflowerblue;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .about-title{
            width: 100%;
            height: 10%;
            color: white;
            text-align: center;
            padding-top:20px ;
        }
        .about-content{
            width: 80%;
            height: 80%;
            background-color: darkcyan;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .content-left{
            width: 40%;
            height: 90%;
            background-color: chocolate;
        }
        .content-right{
            width: 40%;
            height: 90%;
            background-color: red;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        /* about section css end----------------*/

         /* project section css start----------------*/
         .project{
            width: 100%;
            height: 800px;
            background-color: rgb(115, 163, 179);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .project-title{
            width: 100%;
            height: 10%;
            color: white;
            text-align: center;
            padding-top:20px ;
        }
        .project-cards{
            width: 80%;
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }
        .card{
            width: 20%;
            height: 300px;
            background-color: rgb(116, 116, 195);
            border-radius: 20px;
        }
        /* project section css end----------------*/
        
         /* contact section css start----------------*/
         .contact{
            width: 100%;
            height: 800px;
            background-color: pink;
        }
        .contact-title{
            width: 100%;
            height: 10%;
            color: white;
            text-align: center;
            padding-top:20px ;
        }
        /* contact section  css end----------------*/
        

        
   